body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #1e0911;
}

#container {
  position: relative;
}

#quote-box {
  position: relative;
  text-align: center;
  z-index: 2;
  width: 450px;
  padding: 40px 50px 110px;
  background-color: #ffffff;
  border-radius: 3px;
  font-weight: 500;
}

#quote-paragraph {
  font-size: 1.75em;
  clear: both;
}

#quote-icon {
  color: #1e0911;
  margin-right: 0.4em;
}

#author-line {
  text-align: right;
  padding-top: 20px;
  font-size: 1em;
  clear: both;
}

.btn {
  display: inline-block;
  border-radius: 3px;
  height: 38px;
  color: #ffffff;
  font-size: 0.85rem;
  background-color: #1e0911;
  padding: 8px 18px 8px 18px;
  text-align: center;
  vertical-align: middle;
  border: none;
  margin-top: 30px;
  opacity: 1;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

#new-quote {
  float: right;
  font-family: inherit;
  font-weight: 500;
}

#twitter-btn,
#tumblr-btn {
  float: left;
  margin-right: 6px;
  height: 38px;
  width: 40px;
  padding: 0;
}

div > i {
  color: #ffffff;
}

footer {
  text-align: center;
  margin: 20px auto;
  color: #ffffff;
}
